.navbar-item:hover {
    color: white;
}

body {
    background:gray;
}

.container-fluid {
    background-color: gray;
    border: none;
}

.about { 
    height: 400px;
}

#Profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
}



#intro-text {
    display: flex;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

input[type=text]#feedback {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }




